@{
    NessusServer = 'sensor.cloud.tenable.com:443'
    WorkingDirectory = 'C:\Temp'
    LogPath = 'C:\Temp\agent_install.log'
    # Keep secrets out of this file. Use Set-NessusAgentSecret to store encrypted values.
    NessusKey = $null
    CustomerUuid = $null
    TenableAccessKey = $null
    TenableSecretKey = $null
    InstallerSearchPaths = @(
        '\\fs\share\vmops'
    )
}
